* {
	box-sizing: border-box;
}

body {
	padding: 1rem;
	font-family: sans-serif;
}

#info {
	margin-top: .5rem;
	font-size: .75rem;
	text-align: right;
	font-family: monospace;
	opacity: .75;
}

.md-editor {
	padding: .5rem;
	border: 1px solid #ccc;
	border-radius: .25rem;
}

.md-mark {
	opacity: .5;
}
