* {
	box-sizing: border-box;
}

body {
	margin: 1rem;
	font-size: 1rem;
	font-family: sans-serif;
}

.md-editor {
	padding: .5rem;
	border: 1px solid #ccc;
	border-radius: .25rem;
}

.md-line {
	position: relative;
	line-height: 1.25rem;
	font-size: .875rem;
}

.md-mark {
	color: #888;
}

.md-hidden {
	/*
	- Don't use `display: none`
	- Don't use `inline-block` if not hidden
	*/
	display: inline-block;
	width: 0;
	height: 0;
	overflow: hidden;
}

.md-hr::before {
	content: '';
	position: absolute;
	top: 50%;
	left: 25%;
	width: 50%;
	height: 3px;
	background-color: #ccc;
	border-radius: .125rem;
	z-index: -1;
}

.md-heading {
	margin-block: 0;
	line-height: 1.25em;
}

.md-subtext {
	font-size: .75rem;
	font-weight: bold;
	color: #666;
}

.md-code,
.md-code-block {
	font-family: 'Ubuntu Mono', monospace;
	background-color: #eee;
}

.md-code {
	padding-block: .125rem;
	border-radius: .25em;

	.md-hidden {
		display: initial;
		opacity: 0;
	}
}

.md-code-block {
	display: block;
	padding-inline: .5rem;

	.md-hidden {
		display: initial;
	}
}

.md-line:first-child .md-code-block,
.md-line:not(:has(.md-code-block)) + .md-line .md-code-block {
	margin-top: .5rem;
	border-top-left-radius: .375rem;
	border-top-right-radius: .375rem;
}

.md-line:not(:has(+ .md-line .md-code-block)) .md-code-block,
.md-line:last-child .md-code-block {
	margin-bottom: .5rem;
	border-bottom-right-radius: .375rem;
	border-bottom-left-radius: .375rem;
}

.md-code-lang {
	color: #048;
}

.md-quote > .md-mark {
	display: initial;
}

.md-line:not(:has(~ .md-line .md-quote > .md-mark:not(.md-hidden))) .md-quote > .md-mark.md-hidden,
.md-line:not(:has(.md-quote > .md-mark:not(.md-hidden))) ~ .md-line .md-quote > .md-mark.md-hidden {
	color: transparent;

	&::before {
		content: '';
		position: absolute;
		top: -1px;
		width: 3px;
		height: calc(1.25rem + 2px);
		background-color: #ccc;
		border-radius: .125rem;
	}
}
