* {
	box-sizing: border-box;
}

body {
	padding: 1rem;
	font-family: sans-serif;
}

.md-editor {
	padding: .5rem;
	border: 1px solid #ccc;
	border-radius: .25rem;
}

.md-line {
	line-height: 1.25em;

	h1, h2, h3, h4, h5, h6 {
		margin-block: .5em;
		line-height: 1.25em;
	}

	code {
		font-family: monospace;
		font-size: .875rem;
	}
}

.md-mark {
	color: #888;
}

.md-thematic-break {
	position: relative;

	::before {
		content: '';
		position: absolute;
		top: 50%;
		left: 25%;
		width: 50%;
		height: 2px;
		background-color: #ccc;
	}
}

.md-code-lang {
	color: #048;
}

.md-quote {
	position: relative;

	&::before {
		content: '';
		position: absolute;
		left: -4px;
		width: 2px;
		height: 1.25rem;
		background-color: #888;
	}
}
